body,
html {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background-image: url("@Resources/Images/Wallpaper.jpg");
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

a{
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.SearchBoxRGB {
  width: 408px;
  height: 56px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 12px auto;
}

.SearchBoxRGB::before {
  content: "";
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 750%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 40px;
  animation: spin 2s linear infinite;
}

.SearchBoxRGB:hover::before {
  opacity: 1;
}

.SearchBoxRGB::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.SearchBox {
  height: 48px;
  width: 400px;
  background-color: white;
  border-radius: 28px;
  text-align: center;
  outline: none;
  border: none;
  font-size: 18px;
  font-family: Copperplate, sans-serif;
}

.SearchBox:focus{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Wrapper{
  width: fit-content;
}

.Drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  align-items: center;
  padding: 8px;
  margin: 16px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.Tile {
  flex-grow: 0;
  flex: 0;
  align-self: center;
  margin: 4px;
  transition: transform 0.2s;
}

.Tile:hover{
  transform: scale(1.15);
}

.TileRGB{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.TileRGB::before{
  content: "";
  position: absolute;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  opacity: 0;
  z-index: -1;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  border-radius: 16px;
  transition: opacity 0.3s ease-in-out; 
  animation: spin 2s linear infinite;
}

.TileRGB:hover::before{
  opacity: 1;
}

.TileRGB::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 16px;
  z-index: -1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.Icon{
  display: block;
  width:64px;
  height: 64px;
}

.WidgetWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 16px;
  padding: 12px;
  margin: 16px;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}
.WidgetZoom{
  max-width: 100%;
  min-width: 100%;
  min-height: 278px;
  max-height: 278px;
  transition: transform 0.2s;
}
.WidgetZoom:hover{
  transform: scale(1.02);
}
.WidgetRGB{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  max-width: 100%;
  min-width: 100%;
  min-height: 278px;
  max-height: 278px;
}

.WidgetRGB::before{
  content: "";
  position: absolute;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  opacity: 0;
  z-index: -1;
  width: 150%;
  height: 300%;
  top: -100%;
  left: -25%;
  border-radius: 16px;
  transition: opacity 0.3s ease-in-out; 
  animation: spin 2s linear infinite;
}

.WidgetRGB:hover::before{
  opacity: 1;
}

.WidgetRGB::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 16px;
  z-index: -1;
}

.Widget{
  display: block;
  overflow: hidden;
  border-radius: 16px;
  max-width: 100%;
  min-width: 100%;
  min-height: 270px;
  max-height: 270px;
  top: 100px;
  filter: invert(100%);
}

.Cycle{
  position: absolute;
  display:block;
  padding: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 20;
  margin-bottom: 172px;
  opacity: 0;
  transition: transform 0.4s;
}
.Cycle:hover{
  opacity: 1;
}
#DOGE{
  display: block;
  filter: hue-rotate(-120deg);
}
#BTC{
  display: none;
  filter: hue-rotate(-340deg);
}

#ETH{
  display: none;
  filter: hue-rotate(-220deg);
}

.CryptoIcons{
  width: 40px;
  height: 40px;
  margin: 4px;
  display: block;
  float: left;
  transition: transform 0.2s;
 
}

.CryptoIcons:hover{
  animation: myAnim 1s ease 0s 1 normal none;
}

@keyframes myAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}